@font-face {
               font-family: "NotoSansDisplay";
               src: url(../fonts/fonts/NotoSansDisplay-SemiBold.ttf);
               font-weight: 600;
}
@font-face {
               font-family: "NotoSansDisplay";
               src: url(../fonts/fonts/NotoSansDisplay-Medium.ttf);
               font-weight: 500;
}
@font-face {
               font-family: "NotoSansDisplay";
               src: url(../fonts/fonts/NotoSansDisplay-Regular.ttf);
               font-weight: 400;
}
@font-face {
               font-family: "NotoSansDisplay";
               src: url(../fonts/fonts/NotoSansDisplay-Light.ttf);
               font-weight: 300;
}